.main-content{
    flex:1;
    background:#f4f6fa;
}

.repository-container{
    padding:30px;
}

.table-wrapper{
    background:white;
    border-radius:10px;
    overflow:hidden;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#f8fafc;
}

th{
    padding:18px;
    text-align:left;
    font-size:14px;
}

td{
    padding:20px;
    border-top:1px solid #eee;
}

.category-badge{
    display:inline-block;
    padding:6px 12px;
    border-radius:30px;
    border:1px solid #16a34a;
    color:#16a34a;
    font-size:13px;
    font-weight:600;
}

.author-circle{
    width:35px;
    height:35px;
    background:#dbeafe;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.open-btn{
    padding:10px 20px;
    border-radius:30px;
    border:1px solid #2563eb;
    color:#2563eb;
    background:white;
    cursor:pointer;
}

.open-btn:hover{
    background:#2563eb;
    color:white;
}